#hello-students{
    background-image: url(../images/meetings-bg.jpg);
     background-attachment: fixed;
      padding-bottom: 120px;
}
.hello-students{
    justify-content: space-between;
    margin-top: -140px;

}
.hello-students .card{
    background-image: url(../images/service-item-bg.jpg);
    border-radius: 20px;
    text-align: center;
    color: #fff;
    padding: 40px;
    height: 276px;
    
}

.hello-students .card h2{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
}

.hello-students .card p{
    color: #fff;
    font-size: 15px;
    line-height: 25px;
}

.meeting-card{
    background-color: aliceblue;
    border-radius: 20px;
    height: 370px;
    margin-top: 20px;
    padding: 0px;
    
}
.meetings-cards{
    justify-content: space-around;
}


.meetings-card-image img{
    width: 100%;
    height: 270px;
}

.meeting-card .col-8{
    display: flex;
}

.upcoming-meetings-intro hr  {
    border: 0px;
    width: 100%;
    height: 0.1px;
    background-color: #ffffff34;
    margin-bottom: 40px;
  }

.upcoming-meetings-intro h2{
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 80px;
}

.meeting-categories{
    background-color: #fff;
    height: 500px;
    border-radius: 20px;
    padding: 30px;

}

.meeting-categories-list ul{
    list-style: none;

} 
.meeting-categories-list ul li{
    font-size: 20px;
    font-weight: 500;
    transition: all .3s;
    margin-top: 15px;
}

.meeting-categories-list ul a{
    text-decoration: none;
    color: #1f272b;
    font-weight: 600;
}

.meeting-categories-list ul a:hover{
    color: rgb(161, 44, 47);
}
.meeting-categories-title h2{
    padding-top: 20px;
    font-size: 20px;
}

.meeting-categories-hr{
    border: 0px;
    width: 100%;
    height: 0.1px;
    background-color: #00000034;
    margin-bottom: 30px;
    margin-top: 30px;
}

.meeting-categories-btn{
    font-size: 13px;
    color: rgb(255, 255, 255);
    background-color: rgb(161, 44, 47);
    padding: 12px 30px;
    display: inline-block;
    border-radius: 22px;
    font-weight: 500;
    border: rgb(161, 44, 47);
    width:100%;
    height: 50px;
    cursor: pointer;
}

.meeting-categories-btn:hover{
    background-color: rgba(161, 44, 48, 0.854);
}
.meeting-card-date-month{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(161, 44, 47);
}

.meeting-card-date-day{
    display: block;
    color: rgb(31, 39, 43);
    font-size: 30px;
    margin-top: 7px;
}

.meeting-card-date{
    padding-top: 10px;
}


