#university-facts{
    background-image: url(../images/facts-bg.jpg);
    background-attachment: fixed;
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.stat-card{
    text-align: center;
    background-color: rgba(250,250,250,0.15);
    border-radius: 20px;
    padding: 25px 30px 35px 30px;
    margin: 15px 0px;
    width: 95%;
    
}

.stat-card-count{
    
    margin: 5px 0px;
    color: #f5a425;
    font-weight: 700;
    font-size: 36px;
    
}

.stat-card-title{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.5px;
}

.text-header{
    font-size: 38px;
    color: #fff;
    line-height: 50px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 50px;
}

.padded-col{
    padding-top: 40px;
}

.text-header{
    width: 80%;
}

.video-wrapper{
    background-image: url(../images/video-item-bg.jpg);
    background-size: cover;
    border-radius: 20px;
    width: 600px;
    height: 500px;
    margin-left: 50px;
}
.play-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.university-facts-wrapper{
    display: flex;
    justify-content: space-between;

}
.university-facts-statics{
    width: 50%;
}
.university-facts-video{
    width: 50%;
}
@media screen and (min-width: 360px) and (max-width:599px) {

    .col-sm-6{
        width: 100%;
    }
    .padded-col{
        padding-top: 0px;
    }
    .video-wrapper{
        margin-left: 0px;
        width: 100%;
        height: 340px;
        
    }
    
}
@media screen and (min-width: 600px) and (max-width: 1438px) {
    .col-md-12{
        width: 100%;
    }
    .padded-col{
        padding-top: 0px;
        
    }

    .video-wrapper{
        margin-left: 0px;
        width: 95%;
        height: 340px;
        margin-top: 10px;
        
    }
}







